body, html {
  width: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400
}

h1 {
  margin: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700
}

h2, h3, h4, h5, h6 {
  margin: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400
}

.hashtag {
  font-family: 'Ubuntu Mono', monospace;
  color: #cf0;
  width: 100%;
  display: block;
  margin: 20px auto 10px
}

.buttons {
  font-family: 'Ubuntu', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  height: 75px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 1px #888
}

a, a:hover {
  text-decoration: underline;
  color: inherit
}

.icons a {
  text-decoration: none
}

li {
  padding: 0 0 10px
}

ul, ol {
  padding: 0 0 0 20px
}

.section {
  padding: 35px 15px
}

.section-title {
  text-align: center
}

.section-title-inner {
  text-align: left
}

.bottom-wrapper {
  padding: 0 0 75px;
  background-color: #333
}

.img-fullwidth {
  margin: 40px auto
}

.img-halfwidth {
  margin: 30px auto
}

.background-gray {
  background-color: #f2f2f2
}

.background-white {
  background-color: #fff
}

.background-dark {
  background-color: #333;
  color: #cf0
}

.tos-header {
  padding-top: 50px;
}

.tos-main {
  flex: 1;
}


/*Burger*/

.main-header__bars {
  display: none;
}


/*Gray menu in header*/

.header__nav {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: rgba(128, 128, 128, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5%;
  padding-right: 3%;
  transition: 0.5s;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.nav__list li {
  margin-right: 20px;
}

.nav__list a {
  transition: 0.5s;
  font-size: 22px;
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.nav__list a:hover {
  color: #AAD400;
  text-decoration: underline;
}

.nav__list a i {
  font-size: 22px;
}

.nav__list .nav-current {
  pointer-events: none;
  cursor: default;
  color: #CCCCCC;
}

.nav__lang {
  width: 8%;
  min-height: 50px;
  color: #F8F8F8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__lang a {
  font-size: 14px;
}

.nav__lang a:hover {
  color: #E7E3DF;
}

.nav__lang .lang-active {
  pointer-events: none;
  cursor: default;
  color: #DDD9D5;
  text-decoration: none;
}

@media only screen and (min-width: 769px) {
  .nav__list {
    display: flex!important;
	  padding-left: 1%;
	  padding-right: 1%;
    width: 850px;
  }
  .nav__lang {
    width: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .main-header__bars {
    display: block;
    position: absolute;
    font-size: 26px;
    color: #fff;
    top: 7px;
    left: 3%;
  }
  .header__nav {
    flex-direction: column;
    padding-right: 5%;
    background-color: rgba(128, 128, 128, 1);
    transition: 0.5s;
  }
  .nav__list {
    display: none;
    text-align: center;
    width: 60%;
    flex-direction: column;
    margin-top: 10px;
  }
  .nav__list a {
    font-size: 16px;
  }
  .nav__lang {
    width: 30%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 424px) {
  .nav__lang {
    width: 40%;
  }
}

header {
  position: relative;
  padding: 0;
  padding-top: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: #f8f8f8;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/header.png), -webkit-linear-gradient(#ccc 85%, #333 15%);
  background-image: url(../img/header.png), linear-gradient(#ccc 85%, #333 15%);
  background-color: #ссс;
  background-size: 100% auto;
  background-position: center 85%;
  background-repeat: no-repeat
}

.logo {
  margin: 0 auto
}

.intro-message {
  padding-left: 15px;
  padding-right: 15px
}

.pointerdown {
  cursor: pointer;
  padding-top: 30px
}

.lang {
  position: absolute;
  right: 20px;
  top: 5px;
  min-width: 180px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between
}

.lang a:hover {
  color: #E7E3DF
}

.lang-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #DDD9D5
}

.inner-header {
  position: relative;
  background-color: #ccc;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: #f8f8f8;
  width: 100%;
  margin: 0 auto
}

.inner-header-background {
  background-size: auto;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100px
}

.inner-logo {
  width: auto;
  float: left;
  margin: 0
}

.inner-title {
  float: left
}

footer {
  padding: 25px 0;
  min-height: 300px;
  position: relative;
  background-image: url(../img/footer_4.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #ccc;
  text-align: center
}

footer p {
  padding: 3px 0
}

.bottom-menu .nav-current {
  pointer-events: none;
  cursor: default;
  color: #737373;
}

.bottom-menu li {
  padding: 0 10px;
  font-weight: 700
}

.bottom-menu a:hover {
  color: #23527c;
}

.contact li {
  padding-top: 0;
  padding-bottom: 0
}

.copyleft * {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle
}

.copyleft i {
  font-size: 16px
}

.copyleft a {
  margin-left: 10px
}

.social i {
  margin: 0 5px
}

.button-volunteers, .button-initiatives {
  width: 50%;
  height: 75px;
  background: #cf0;
  display: table;
  border: 1px solid #888;
  box-shadow: 2px 0 5px #888
}

.button-volunteers:hover, .button-initiatives:hover {
  background: #b1d523
}

.button-volunteers {
  float: left
}

.button-initiatives {
  float: right
}

.button-volunteers a, .button-initiatives a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none
}

.vol-text {
  margin-bottom: 20px;
}


/*Buttons in main block*/

.btn-center {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.btn-center a {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border-radius: 0;
  box-shadow: none;
}

@media (min-width:180px) {
  .intro-message>h1 {
    font-size: 30px
  }
  .intro-message>h3 {
    font-size: 12px
  }
  .hashtag {
    font-size: 15px
  }
  .inner-title {
    font-size: 16px
  }
  p, li {
    font-size: 13px
  }
  h2 {
    font-size: 24px
  }
  h3 {
    font-size: 20px
  }
  .button-volunteers a, .button-initiatives a {
    font-size: 20px
  }
  .bottom-menu li {
    font-size: 14px
  }
}

@media (min-width:480px) {
  .intro-message>h1 {
    font-size: 40px
  }
  .intro-message>h3 {
    font-size: 16px
  }
  .hashtag {
    font-size: 20px
  }
  .inner-title {
    font-size: 31px
  }
  p, li {
    font-size: 16px
  }
  h2 {
    font-size: 26px
  }
  h3 {
    font-size: 20px
  }
  .button-volunteers a, .button-initiatives a {
    font-size: 24px
  }
  .bottom-menu li {
    font-size: 18px
  }
}

@media (min-width:720px) {
  .intro-message>h1 {
    font-size: 48px
  }
  .intro-message>h3 {
    font-size: 18px
  }
  .hashtag {
    font-size: 22px
  }
  .inner-title {
    font-size: 36px
  }
  h2 {
    font-size: 30px
  }
  h3 {
    font-size: 22px
  }
  .button-volunteers a, .button-initiatives a {
    font-size: 30px
  }
  .social {
    font-size: 20px
  }
}

@media (min-width:1024px) {
  .intro-message>h1 {
    font-size: 56px
  }
  .intro-message>h3 {
    font-size: 20px
  }
  .hashtag {
    font-size: 24px
  }
  .inner-title {
    font-size: 40px
  }
  h2 {
    font-size: 36px
  }
  h3 {
    font-size: 24px
  }
  .button-volunteers a, .button-initiatives a {
    font-size: 32px
  }
}

@media (min-width:180px) {
  .img-fullwidth {
    max-width: 100%
  }
  .img-halfwidth {
    max-width: 90%
  }
}

@media (min-width:480px) {
  .img-fullwidth {
    max-width: 80%
  }
}

@media (min-width:1024px) {
  .img-halfwidth {
    max-width: 100%
  }
}

@media (min-width:180px) {
  .intro-message {
    padding-top: 10%;
    padding-bottom: 20%
  }
  .logo {
    max-width: 30%
  }
}

@media (min-width:480px) {
  .intro-message {
    padding-top: 7%
  }
  .logo {
    max-width: 20%
  }
}

@media (min-width:720px) {
  .intro-message {
    padding-top: 3%
  }
  .logo {
    max-width: 15%
  }
}

@media (min-width:1024px) {
  .intro-message {
    padding-top: 2%;
    padding-bottom: 11%
  }
  .logo {
    max-width: 13%
  }
}

@media (min-width:180px) {
  .inner-header {
    height: 75px
  }
  .inner-logo {
    display: block;
    height: 70px;
    padding: 10px 0
  }
  .inner-title {
    text-align: center;
    line-height: 70px;
    padding: 0 8px;
    margin: 0
  }
  .inner-header-background {
    background-image: none
  }
}

@media (min-width:480px) {
  .inner-header {
    height: 100px
  }
  .inner-logo {
    display: block;
    height: 90px
  }
  .inner-title {
    margin: 0 0 0 6px;
    text-align: center;
    line-height: 100px
  }
}

@media (min-width:720px) {
  .inner-header {
    height: 100px
  }
  .inner-logo {
    height: 90px;
    padding: 5px 0
  }
  .inner-title {
    margin: 0 0 0 20px;
    line-height: 80px
  }
  .inner-header-background {
    background-size: 50%;
    background-image: url(../img/header-inner.png)
  }
}

@media (min-width:1024px) {
  .inner-header-background {
    background-size: 35%
  }
  .inner-logo {
    height: 100px
  }
  .inner-title {
    line-height: 100px;
    margin: 0 30px
  }
}

@media (min-width:180px) {
  .button-volunteers a, .button-initiatives a {
    padding: 0 5px
  }
}

@media (min-width:480px) {
  .button-volunteers a, .button-initiatives a {
    padding: 0 10px
  }
}

@media (min-width:720px) {
  .button-volunteers a, .button-initiatives a {
    padding: 0 15px
  }
}

@media (min-width:180px) {
  footer {
    background-size: auto 50%
  }
}

@media (min-width:480px) {
  .bottom-menu {
    margin: 0 0 30px -5px
  }
  footer {
    background-size: auto 70%
  }
}

@media (min-width:720px) {
  .bottom-menu {
    margin: 0 0 25px -5px
  }
  .contact {
    margin: 0 0 15px -5px
  }
}

#drift-widget {
  bottom: 75px!important
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 35px;
}

.item {  
  display: flex;
  font-family: Ubuntu;
  font-weight: normal;
  flex-direction: column;
  padding-right: 40px;
}

.card-items .item h3 {
  font-size: 28px;
}

.card-items .item p {
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: normal;
  margin: 20px 0 20px 0;
  width: 270px;
}

.card-items .item button {
  background-color: #808080;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  width: 250px;
}

.card-img {
  background-color: #ff6666 ;
  height: 180px;
  width: 270px;
  text-align: center; 
  padding-top: 90px;
}

.statistic {
  background-color: #333333;
  color: #CCFF00;
}

.stat-digits {
  font-size: 87.5px;
}

.stat-info {
  font-size: 33px;
  width: 270px;
}

.history-init {
  background-color: #b3b3b3;
  color: #ffffff;
}

.history-init h2, .history-init h3 {
  text-shadow: 1px 1px 1px black;
}

.history-vol {
  background-color: #ececec;
  color: #333333;
}

.history-vol .card-items .item button {
  background-color: #cccccc;
  border: 1px solid #333333;
  color: #333333;
}
