// Fonts
$fontFamily: 'PT Sans', sans-serif;
$headerFont: 'Ubuntu', sans-serif;

$fontSize: 16px;

// Colors
$baseColor: #333;
$headerBack: #CCCCCC;
$headerBackTransparent: rgba(128, 128, 128, 0.2);
$chasmBack: #F2F2F2;
$etcColor: #fff;
$btnColor: #CCFF00;
$btnHover: #b1d523;
$headerTitle: #F8F8F8;
$mainBottomBack: #F2F2F2;
$linkHover: #E7E3DF;
$mainBelowBack: #b3b3b3;
$mainBelowColor: #eaeaea;
$menuHover: #AAD400;

// Media
$portable: 'only screen and (max-width: 1366px)';
$tablet: 'only screen and (max-width: 768px)';
$smartphone: 'only screen and (min-width: 280px) and (max-width: 424px)';
