.b-popup{
    display: none;
    margin-left: -0.68%;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 100;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width: 40%;
    padding:10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #000;
            box-shadow: 0px 0px 10px #000;
}

#button-back{
  float: right;
  margin-top: -160px;  
}

.module-donate {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #4d4d4d;
  border: 5px solid #ccff00;
  border-radius: 4px;
  width: 780px;
  margin: 0 15px 0 210px;
}

.donate-left, .donate-right, .donate-form-answer {
  padding: 20px 15px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.donate-left {
  color: #ffffff;
  width: 390px;
}

.donate-title {
  font-family: Ubuntu;
  font-size: 23px;
}

.donate-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 11.5px;
  padding-top: 10px;
}

.donate-desc img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 125px;
  width: auto;
}

.donate-desc div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
  line-height: 1.42857143;
}

.donate-sum {
  color: #ccff00;
  font-size: 20px;
  padding-top: 10px;
}

.donate-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.donate-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

.donate-right div:last-child {
  padding-bottom: 0;
}

.donate-right button, .donate-call input {
  background-color: #f9f9f9;
  border: none;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  font-size: 17px;
  height: 50px;
  cursor: pointer;
}

.donate-call input {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 0;
  max-width: 140px;
}

.donate-call input::-webkit-input-placeholder {
  text-align: center;
}

.donate-call input:-ms-input-placeholder {
  text-align: center;
}

.donate-call input::-ms-input-placeholder {
  text-align: center;
}

.donate-call input::placeholder {
  text-align: center;
}

.donate-call button {
  background-color: #ccff00;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  font-size: 20px;
  font-weight: 700;
}

.donate-link {
  color: #ffffff;
  font-size: 12px;
}

.donate-form-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donate-form-answer {
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate-form-answer p:first-child {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

.donate-form-answer p:nth-child(2) {
  font-size: 21px;
}

.donate-form-answer button {
  background-color: #ccff00;
  border: none;
  color: #333333;
  font-size: 17px;
  width: 225px;
  height: 35px;
  padding: 0 20px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#mpa-rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.backButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backButton i {
  font-size: 50px;
}

.backButton {
  color: white;
}

.backButton:hover {
  color: #CCFF00;
  cursor: pointer;
}

@media (max-width: 1023px) {
.module-donate {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.donate-right, .donate-form-answer {
  width: 370px;
}
.donate-title, .donate-sum {
  text-align: center;
}
.donate-form-answer {
  padding-bottom: 50px;
}
}
@media (max-width: 440px) {
  .donate-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donate-desc div {
    padding-top: 15px;
  }
  .donate-right, .donate-form-answer {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .donate-right, .donate-form-answer {
    width: auto;
  }
}